<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="console">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="rollingFile">
        <!--<file>${catalina.base}/logs/carmall-manager.log</file>-->
        <file>carmall-manager.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--<fileNamePattern>${catalina.base}/logs/carmall-manager.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <fileNamePattern>carmall-manager.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- project default level -->
    <logger level="debug" name="com.example.demo"/>

    <!--log4jdbc -->
    <logger level="debug" name="jdbc.sqltiming"/>
    <logger level="debug" name="com.ibatis"/>
    <logger level="debug" name="com.ibatis.common.jdbc.SimpleDataSource"/>
    <logger level="debug" name="com.ibatis.common.jdbc.ScriptRunner"/>
    <logger level="debug"
            name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate"/>
    <logger level="debug" name="java.sql.Connection"/>
    <logger level="debug" name="java.sql.Statement"/>
    <logger level="debug" name="java.sql.PreparedStatement"/>
    <logger level="debug" name="java.sql.ResultSet"/>
    <root level="info">
        <appender-ref ref="console"/>
        <!--<appender-ref ref="com.example.demo"/>-->
        <!--<appender-ref ref="com.ibatis"/>-->
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>